<h1>投稿内容</h1>
<p>
  <strong>Picture:</strong>
  <%= image_tag(@feed.picture.url) if @feed.picture && @feed.picture.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @feed.content %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
